<div class="article-item">
    <div class="header">
        <h4>{{article.title}}</h4>
    </div>
    <div class="body">
        <div class="part left">
            <div>
                <h5>Publisher: </h5>
                <p>{{article.publisher}}</p>
            </div>
            <div>
                <h5>Publish Date: </h5>
                <p>{{article.publishedAt | datetime}}</p>
            </div>
        </div>
        <div class="part right">
            <div class="read-time">{{article.readTime}} min</div>
        </div>
    </div>
</div>